* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-color: #F6F6F7;
  --text-color: #161616;
  --input-color: #F6F6F7;
}

a:focus-visible,
button:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 2px solid #387ac0;
  outline-offset: 2px;
}

body {
  padding: 3rem 2.4rem;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bg-color);
  color: var(--text-color);

  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: 'Poppins', serif;
  font-size: 1.6rem;
  outline: none;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover,
a:hover {
  filter: brightness(0.7);
}

.dark-mode {
  --bg-color: #161616;
  --text-color: #f5f5f5;
  --input-color: #323131;
}

.searchAndResult {
  text-align: center;

  .searchForm {
    display: flex;
    align-items: center;
    
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    gap: 3px;
    
    box-shadow: 19px 14px 32px rgba(0, 0, 0, .1), 4px 2px 6px rgba(0, 0, 0, .08);
    border-radius: 999999px;
    background-color: var(--input-color);

    >input {
      flex: 1 1 0%;

      background-color: transparent;
      outline: 2px solid transparent;
      outline-offset: 2px;
      border: none;
      color: var(--text-color);
    }
  }
}

.searchResult {
  margin-top: 4rem;

  .videoContainer {
    width: 30rem;
    position: relative;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4rem;

    >img {
      width: 30rem;
      height: 21rem;
      border-radius: 3.5rem;

      @media (max-width: 374px) {
        width: 26rem;
      }
    }

    .infoContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      >img {
        width: 3rem;
        
        cursor: pointer;
      }
    }

    h4 {
      width: 23.5rem;

      text-align: start;
      font-size: 1.4rem;
    }

    .videoPlayButton {
      position: absolute;
      height: 16rem;
      padding-top: 5rem;

      cursor: pointer;
    }
  }
}

body.responsiveResult {
  padding: 3rem 0;

  .searchAndResult {

    .searchForm {
      width: 25rem;
    }

    .searchResult {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 4rem;
      margin-right: 4rem;

      @media (min-width: 953px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
}

.videoPlayer {
  @media (min-width: 626px) {
    margin-right: 4rem;
  }
}

.iframeContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: 4rem;
  
  overflow: hidden;
}

.iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


#favoritesContainer {
  margin-top: 4rem;

  .videoContainer {
    position: relative;
    width: 30rem;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4rem;

    >img {
      width: 30rem;
      height: 21rem;

      border-radius: 3.5rem;

      @media (max-width: 374px) {
        width: 26rem;
      }
    }

    .infoContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      >img {
        width: 3rem;
        
        cursor: pointer;
      }
    }

    h4 {
      width: 23.5rem;
      
      text-align: start;
      font-size: 1.4rem;
    }

    .videoPlayButton {
      position: absolute;
      height: 16rem;
      padding-top: 5rem;

      cursor: pointer;
    }
  }
}

body.responsiveResult {
  #favoritesContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;
    margin-right: 4rem;

    @media (min-width: 953px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

body#containerFavorites {
  >h1 {
    font-size: 2rem;
    text-align: center;
  }
}

body#containerFavorites.responsiveResult {
  >h1 {
    text-align: start;
  }
}